<div class="my-4 mx-4">
  <h1>
    Storefront Sandbox
  </h1>

  <div class="flex items-center mb-4">
    <div class="mr-3">
      {{link-to "Load all" "load-all"}}
    </div>

    {{link-to "Load all with includes" "load-all-with-includes"}}
  </div>

  {{outlet}}
</div>
